fieldset ul {
    list-style: none;
    margin: 0;
}

fieldset textarea {
    width: 26em;
    height: 5em;
}

nav ul li.contact-menu-item {
    background: #d5e5b7;
}

nav ul li.contact-menu-item.current,
nav ul li.contact-menu-item.current li {
    background: #8faa5a;
}

nav ul li.contact-menu-item.current a {
    color: #fff;
}

nav ul li.contact-menu-item.current li {
    color: #fff;
}

nav ul li.contact-menu-item.current li a {
    color: #fff;
}